{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="base"> 
        <div class="testcontent">
            <p>Яблоко - <span class="true"> Apple</span></p>
            <p>Лимон - <span class="false"> Orange</span></p>
            <p class="wordTranslation">Огурец - </p>            
        </div>
        <div class="enterWord">
            <textarea name="" id="">Cucumber</textarea>
            <button>Ввод</button>
        </div>
        
        <!-- <div class="row">
        <div class="col-2-3">
            <input type="text"> 
        </div>
        <div class="col-1-3">
            <a href="#">Ввод</a>
        </div>
    </div> -->
        
        
    </div>
{% endblock content %}
