{% extends 'layout.html' %}


{% block content %}
    <div class="base">
        <div class="addCard_word">
            <form action="" method="post">
                <p>Название словаря</p>
                {{ new_dictionary_form.dict_name }}
                <p>Краткое описание словаря</p>
                {{ new_dictionary_form.description }}
                <p>Переводимое слово</p>
                {{ new_wordpair_form.word }}
                <p>Перевод</p>
                {{ new_wordpair_form.word_translation }}
                <p></p>
                <button type="submit">Создать словарь</button>
            </form>
        </div>

    </div>
{% endblock content %}

