
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rambla&family=Rowdies&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="menu">
            <a class="logo" href="{% url 'Zybrilca_app:index_url' %}">Зубрилка.com</a>
            <div class="regDivHeader">
                {% if user.is_authenticated %}
                Добро пожаловать, {{user.username}}
                <br><a href="{% url 'logout_url' %}">Выйти</a>
                {% else %}
                    <form method="post" action="{% url 'login_url' %}">
                        {% csrf_token %}
                        <input name="login" type="text" placeholder="Введите логин" required><br>
                        <input name="password" type="password" placeholder="Введите пароль" required><br>
                        <a class="logo regHeader" href="{% url 'reg_url' %}">Регистрация</a>
                        <button class="logo regHeader" >Вход</button>
                    </form>
                {% endif %}
            </div>
        </div>
        {% if error %}
        {{error}}
        {% endif %}
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>

