{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="base">
            <form action="" method="post">
                <div class="listblockSearch">
                <input type="text" name="input_title_dictionary" placeholder="Введите название словаря">
                </div>
                <div class="grid">                         
                    <div>
                        {% for word in wordList %}
                        <!--<a href="{{ word.id }}"><p>{{ word.word }}</p></a>-->
                        <a href="{% url 'Zybrilca_app:edit_dictionary' dictionary.id word.id %}"><p>{{ word.word }}</p></a>
                        {% endfor %}
                    </div>

                <textarea class="editField" name="" id="">{{ currentWord.word }}</textarea>
                <textarea class="editField" name="" id="">{{ currentWord.word_translation }}</textarea>

                </div>
                <button class="listbutton">Добавить</button>
                <button class="listbutton">Удалить</button>
                <button class="listbutton">Сохранить</button>
            </form>
    </div>
{% endblock content %}