{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="base">

            <form action="">
                <div class="listblockSearch">
                <h1>{{ dictionary }}</h1>

                </div>

                <div class="grid">                         
                    <div>
                        {% for word in wordList %}
                        <!--<a href="{{ word.id }}"><p>{{ word.word }}</p></a>-->
                        <a href="{% url 'Zybrilca_app:edit_dictionary' dictionary.id word.id %}"><p>{{ word.word }}</p></a>
                        {% endfor %}
                    </div>

                <textarea class="editField" name="" id="">{{ currentWord.word }}</textarea>
                <textarea class="editField" name="" id="">{{ currentWord.word_translation }}</textarea>

                </div>

            </form>
        {% if user.is_authenticated %}
        <form action="{% url 'Zybrilca_app:add_word' dictionary.id %}">
                <button class="listbutton" onclick="location.href={% url 'Zybrilca_app:add_word' dictionary.id %}">Добавить</button>

                <button class="listbutton">Сохранить</button>
        </form>
            {% if currentWord.id != None %}
            <form action="{% url 'Zybrilca_app:remove_wordpair' dictionary.id currentWord.id %}" method="post">
                <button class="listbutton" type="submit">Удалить</button>
            </form>
                {% endif %}
    {% endif %}

    </div>
{% endblock content %}