{% extends 'layout.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rambla&family=Rowdies&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="menu">
            <a class="logo" href="../../frontend-files/index.html">Зубрилка.com</a>
            <div class="regDivHeader">
                <input type="text" placeholder="Введите логин"><br>
                <input type="password" placeholder="Введите пароль"><br>
                <a class="logo regHeader" href="../../frontend-files/reg.html">Регистрация</a>
                <button class="logo regHeader" >Вход</button>
            </div>
        </div>  
    </header>
    <div class="base">
            <form action="">
                <div class="grid">                         
                <div>
                    <p>Ли Юэ</p>
                    <p>agtjyu</p>
                    <p>werfgtfhjk</p>
                    <p>wergdthjk</p>
                    <p>gh</p>
                </div>
                <textarea class="editField" name="" id="">Ли Юэ</textarea>
                <textarea class="editField" name="" id="">Какой-то текст для объяснения/перевода</textarea>

            </div>
                <button class="listbutton">Добавить</button>
                <button class="listbutton">Удалить</button>
                <button class="listbutton">Сохранить</button>
            </form>
    </div>
</body>
</html>