{% extends 'layout.html' %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'reg_url' %}">
    {% csrf_token %}
    <div class="divReg">
        <h3>Регистрация</h3>
        <p>Логин</p>
        <input name="login" type="text" placeholder="Введите логин" required>
        <p>E-mail</p>
        <input name="email" type="email" placeholder="Введите E-mail" required>
        <p>Пароль</p>
        <input name="password" type="password" placeholder="Введите пароль" required>
        <p>Повторите пароль</p>
        <input name="passwordConfirm" type="password" placeholder="Повторите пароль" required>
        <button>Регистрация</button>
    </div>
</form>
{% endblock content %}

