{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="divReg">
        <h3>Регистрация</h3>
        <p>Логин</p>
        <input type="text" placeholder="Введите логин">
        <p>E-mail</p>
        <input type="email" placeholder="Введите E-mail">
        <p>Пароль</p>
        <input type="password" placeholder="Введите пароль">
        <p>Повторите пароль</p>
        <input type="password" placeholder="Повторите пароль">
        <button>Регистрация</button>
    </div>
{% endblock content %}

